<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated pedido -->
      <package
            uri="http://www.eclipse.org/py/sirius/emf/model/pedido"
            class="py.sirius.emf.model.pedido.PedidoPackage"
            genModel="model/pedido.genmodel"/>
   </extension>

</plugin>
