<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pedido -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="py.sirius.emf.model.pedido.presentation.PedidoModelWizardID"
            name="%_UI_PedidoModelWizard_label"
            class="py.sirius.emf.model.pedido.presentation.PedidoModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PedidoModelFile.gif">
         <description>%_UI_PedidoModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pedido -->
      <editor
            id="py.sirius.emf.model.pedido.presentation.PedidoEditorID"
            name="%_UI_PedidoEditor_label"
            icon="icons/full/obj16/PedidoModelFile.gif"
            extensions="pedido"
            class="py.sirius.emf.model.pedido.presentation.PedidoEditor"
            contributorClass="py.sirius.emf.model.pedido.presentation.PedidoActionBarContributor">
      </editor>
   </extension>

</plugin>
